/* GLOBAL FORMATTING
-------------------------------------------------------------------------------------------------------------------- */

html {
    min-height: 100%;
    width: 100%;
    min-width: 204px;
    overflow-y: scroll;
    font-family: Arial;
    color: #333333;
}

body {
    margin: 0px;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #D4D9E8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #D4D9E8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #D4D9E8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #D4D9E8); /* Standard syntax */
    background-repeat: no-repeat;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
}

section {
    max-width: 1200px;
}

/* HEADER
-------------------------------------------------------------------------------------------------------------------- */

header {
    background: #FC7800; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FC7800, #CC4800); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FC7800, #CC4800); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FC7800, #CC4800); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FC7800, #CC4800); /* Standard syntax */
    height: 52px;
    padding: 12px;
    box-shadow: 0px 1px 15px grey;
}

#headerImg {
    width: 50px;
    float: left;
    margin-right: 12px;
}

#headerText {
    float: left;
    height: 100%;
}

#headerText h1 {
    font: normal bold 1.9em Arial;
    margin-top: 7px;
    letter-spacing: -0.01em;
}

/* NAVIGATION
-------------------------------------------------------------------------------------------------------------------- */

nav button {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.dropbtn {
    width: 47px;
    font-size: 1.1em;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content button {
    width: 180px;
    float: right;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* LOGIN FORM
-------------------------------------------------------------------------------------------------------------------- */

section {
    padding: 40px 24px 24px 24px;
}

section > h1 {
    font-size: 1.41em;
    margin: 0px 0px 34px 0px;
}

input {
    height: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #dadada;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

label {
    font-size: 0.95em;
    letter-spacing: -0.01em;
    display: block;
    box-sizing: border-box;
}

input[type=submit], button {
    height: 47px;
    background: #006BAC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#006BAC, #003B7C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#006BAC, #003B7C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#006BAC, #003B7C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#006BAC, #003B7C); /* Standard syntax */
    color: white;
    border: solid #003B7C 1px;
    cursor: pointer;
    letter-spacing: -0.01em;
    font-size: 0.95em;
}

#submitButton {
    text-align: center;
}

/* OVERVIEW
-------------------------------------------------------------------------------------------------------------------- */

.info .info_label {
    font-weight: bold;
    width: 50%;
    float: left;
}

.info .info_value {
    width: 48%;
    text-align: right;
    float: right;
}

.device {
    width: 405px;
    height: 180px;
    background: #F5F7FA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F5F7FA, #EEF0F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5F7FA, #EEF0F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5F7FA, #EEF0F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F5F7FA, #EEF0F6); /* Standard syntax */
    box-shadow: 0px 1px 15px grey;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    float: left;
    margin: 0px 20px 20px 0px;
}

.device .device_icon {
    width: 186px;
    height: 180px;
    position: relative;
    float: left;
}

.device .device_icon img {
    width: 140px;
    height: 140px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.device .device_title {
    padding: 9px 0px 0px 15px;
    float: left;
    margin: 0px;
    font: normal 1.2em Arial;
    width: 195px;
}

.device .device_type {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    font: normal 1em Arial;
    margin: 18px 0px 0px 0px;
    display: inline-block;
    width: 200px;
}

.device .device_model {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    font: normal 0.9em Arial;
    display: inline-block;
    width: 200px;
}

.device .menue_delete {
    position: absolute;
    bottom: 4px;
    right: 9px;
}

.device .menue_edit {
    position: absolute;
    bottom: 4px;
    right: 37px;
}

/* FOOTER
-------------------------------------------------------------------------------------------------------------------- */

footer > p {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    letter-spacing: -0.01em;
    font-size: 0.95em;
    margin-bottom: 13px;
}

/* RESPONSIVE DESIGN
-------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 380px) {
    #headerText {
        display: none;
    }
}

@media only screen and (max-width: 399px) {
    #headerText h1 {
        font: normal bold 1.7em Arial;
        margin-top: 9px;
    }

    label {
        width: 100%;
        margin: 24px 0px 12px 0px;
    }

    input {
        width: 100%;
    }
}

@media only screen and (min-width: 400px) {
    section > h1, aside > h1 {
        margin: 0px 0px 27px 0px;
    }

    label {
        float: left;
        width: 50%;
        margin: 7px 0px 0px 0px;
    }

    input {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        padding: 40px 100px 100px 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 600px) {
    .dropbtn {
        display: none;
    }

    .dropdown-content {
        display: block;
        position: static;
    }

    .dropdown-content button {
        margin-left: 7px;
        width: 120px;
    }
}

/* ___NEW___
-------------------------------------------------------------------------------------------------------------------- */

aside.info {
    display: inline-block;
    width: 290px;
    float: right;
    padding: 40px 20px 0px 20px;
}

section.elementgrid {
    display: inline-block;
    width: 850px;
    float: left;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 19px;
    border-right: 1px solid #CCCCCC;
}

.device_description {
    display: block;
    float: left;
    width: 219px;
    height: 180px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
}



























