html {
    height: 100%;
    font-family: Arial;
    color: #333333;
    width: 100%;
    overflow-y: scroll;
}

body {
    margin: 0px;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #D4D9E8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #D4D9E8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #D4D9E8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #D4D9E8); /* Standard syntax */
    background-repeat: no-repeat;
    /*! height: 100%; */

    /*! width: 100%; */
}

header {
    /*! width:100%; */
    background: #FC7800; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FC7800, #CC4800); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FC7800, #CC4800); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FC7800, #CC4800); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FC7800, #CC4800); /* Standard syntax */
    background-repeat: no-repeat;
    height: 52px;
    /*! margin: 0px; */
    padding: 12px 0px 12px 12px;
    box-shadow: 0px 1px 15px grey;
}

#headerImg {
    width: 50px;
    float: left;
    margin-right: 10px;
}

#headerText {
    width: auto;
    height: 100%;
    float: left;
    vertical-align: middle;
}

#headerText h1 {
    font: normal bold 1.9em Arial;
    margin-top: 7px;
    letter-spacing: -0.01em;
}

section {
    padding: 40px 24px 24px 24px;
}

section > h1 {
    font-size: 1.41em;

    margin: 0px 0px 34px 0px;
}

input {
    height: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
    border: 1px solid #dadada;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    /*! height: 30px; */
    /*! vertical-align: middle; */
    font-size: 0.95em;

    letter-spacing: -0.01em;
}

input[type=submit] {
    height: 47px;
    background: #006BAC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#006BAC, #003B7C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#006BAC, #003B7C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#006BAC, #003B7C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#006BAC, #003B7C); /* Standard syntax */
    background-repeat: no-repeat;
    color: white;
    /*! padding: 0px 0px; */
    /*! text-align: center; */
    /*! text-decoration: none; */
    /*! display: inline-block; */
    border: solid #003B7C 1px;
    /*! margin: 0px 0px; */
    cursor: pointer;

    letter-spacing: -0.01em;
    font-size: 0.95em;
}

#submitButton {
    text-align: center;
}

@media only screen and (max-width: 399px) {
    label {
        width: 100%;
        display: block;
        margin: 24px 0px 12px 0px;
    }

    input {
        width: 100%;
    }

    input[type=text], input[type=password] {
        width: 99%;
        /*! margin-bottom: 0px; */
    }
}

@media only screen and (min-width: 400px) {

    section > h1 {
        margin: 0px 0px 27px 0px;
    }

    label {
        width: 50%;
        display: block;
        float: left;
        margin: 7px 0px 0px 0px;
    }

    input[type=text], input[type=password] {
        width: 48%;
        /*! display: block; */
    }

    input[type="submit"] {
        /*! width: 50%; */
    }
}

@media only screen and (min-width: 1200px) {
    section > h1 {
        margin: 0px 0px 27px 0px;
    }

    section {
        padding: 40px 100px 100px 100px;
    }

    label {
        width: 49%;
        display: block;
        float: left;
    }

    input {
        width: 49%;
    }
}

footer > p {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    letter-spacing: -0.01em;
    font-size: 0.95em;
    /*! padding-bottom: 0px; */
    margin-bottom: 13px;
}