/* GLOBAL FORMATTING
-------------------------------------------------------------------------------------------------------------------- */

html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-family: Arial;
    color: #333333;
}

body {
    margin: 0px;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #D4D9E8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #D4D9E8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #D4D9E8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #D4D9E8); /* Standard syntax */
    background-repeat: no-repeat;
}

/* HEADER
-------------------------------------------------------------------------------------------------------------------- */

header {
    background: #FC7800; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FC7800, #CC4800); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FC7800, #CC4800); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FC7800, #CC4800); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FC7800, #CC4800); /* Standard syntax */
    height: 52px;
    padding: 12px;
    box-shadow: 0px 1px 15px grey;
}

#headerImg {
    width: 50px;
    float: left;
    margin-right: 12px;
}

#headerText {
    float: left;
    height: 100%;
}

#headerText h1 {
    font: normal bold 1.9em Arial;
    margin-top: 7px;
    letter-spacing: -0.01em;
}

/* NAVIGATION
-------------------------------------------------------------------------------------------------------------------- */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    right: 0;
}

.dropdown-content button {
    width: 180px;
    float: right;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* LOGIN FORM
-------------------------------------------------------------------------------------------------------------------- */

section {
    padding: 40px 24px 24px 24px;
}

section > h1 {
    font-size: 1.41em;
    margin: 0px 0px 34px 0px;
}

input {
    height: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
    border: 1px solid #dadada;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    /*! height: 30px; */
    /*! vertical-align: middle; */
    font-size: 0.95em;
    letter-spacing: -0.01em;
}

input[type=submit], button {
    height: 47px;
    background: #006BAC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#006BAC, #003B7C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#006BAC, #003B7C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#006BAC, #003B7C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#006BAC, #003B7C); /* Standard syntax */
    background-repeat: no-repeat;
    color: white;
    /*! padding: 0px 0px; */
    /*! text-align: center; */
    /*! text-decoration: none; */
    /*! display: inline-block; */
    border: solid #003B7C 1px;
    /*! margin: 0px 0px; */
    cursor: pointer;
    letter-spacing: -0.01em;
    font-size: 0.95em;
}

#submitButton {
    text-align: center;
}

/* OVERVIEW
-------------------------------------------------------------------------------------------------------------------- */

.info {
    /*! //background-color: red; */
    max-width: 280px;
}

.info .info_label {
    font-weight: bold;
    width: 50%;
    float: left;
}

.info .info_value {
    width: 48%;
    text-align: right;
    /*! display: block; */
    float: right;
    /*! margin: 7px 0px 0px 0px; */
}

.device {
    width: 431px;
    height: 180px;
    background: white;
    box-shadow: 0px 1px 15px grey;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    float: left;
    margin: 0px 20px 20px 0px;
}

.device .device_icon {
    width: 206px;
    height: 177px;
    background: #F5F7FA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F5F7FA, #EEF0F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5F7FA, #EEF0F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5F7FA, #EEF0F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F5F7FA, #EEF0F6); /* Standard syntax */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    float: left;
}

.device .device_icon img {
    width: 140px;
    height: 140px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.device .device_title {
    padding: 9px 0px 0px 15px;
    float: left;
    margin: 0px;
    font: normal 1.2em Arial;
    width: 200px;
}

.device .device_type {
    margin: 0px;
    /*! float: left; */
    padding: 0px 0px 0px 15px;
    font: normal 1em Arial;
    margin: 18px 0px 0px 0px;
    display: inline-block;
    width: 200px;
}

.device .device_model {
    margin: 0px;
    /*! float: left; */
    padding: 0px 0px 0px 15px;
    font: normal 0.9em Arial;
    display: inline-block;
    width: 200px;
}

.device .menue_delete {
    position: absolute;
    bottom: 4px;
    right: 9px;
}

.device .menue_edit {
    position: absolute;
    bottom: 4px;
    right: 37px;
}

/* FOOTER
-------------------------------------------------------------------------------------------------------------------- */

footer > p {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    letter-spacing: -0.01em;
    font-size: 0.95em;
    /*! padding-bottom: 0px; */
    margin-bottom: 13px;
}

/* RESPONSIVE DESIGN
-------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 399px) {
    label {
        width: 100%;
        display: block;
        margin: 24px 0px 12px 0px;
    }

    input {
        width: 100%;
    }

    input[type=text], input[type=password] {
        width: 99%;
        /*! margin-bottom: 0px; */
    }
}

@media only screen and (min-width: 400px) {
    section > h1 {
        margin: 0px 0px 27px 0px;
    }

    label {
        width: 50%;
        display: block;
        float: left;
        margin: 7px 0px 0px 0px;
    }

    input[type=text], input[type=password] {
        width: 48%;
        /*! display: block; */
    }

    input[type="submit"] {
        /*! width: 50%; */
    }
}

@media only screen and (min-width: 1200px) {
    section > h1 {
        margin: 0px 0px 27px 0px;
    }

    section {
        padding: 40px 100px 100px 100px;
    }

    label {
        width: 49%;
        display: block;
        float: left;
    }

    input {
        width: 49%;
    }
}
