<!-- Steuerung für diskrete Werte -->
<div class="details-outer">
    <div class="details-image-container">
        <canvas baseChart class="details-image"
                [data]="charData"
                [labels]="chartLabels"
                [chartType]="chartType" >
        </canvas>
    </div>
    <div class="details-data">
        <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
        <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">{{ logToString() }}</textarea>
        <div class="details-settings">
            <h3 class="details-headline">{{ controlunit.name}}</h3>

            <form class="update-form" method="post">
                <label class="update-form-field" id="current-value">
                    <span class="current-value">derzeit: {{controlunit.values[controlunit.current]}}</span>
                </label>
                <label class="accessibility" for="new-value">Bitte gewünschten Wert aus Menü auswählen.</label>
                <select #inputvalue id="new-value" class="update-form-field form-input" name="new-value" required>
                    <option *ngFor="let option of controlunit.values">{{option}}</option>
                </select>
                <input (click)="setValue(inputvalue.selectedIndex)" type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                       value="Wert setzen">
            </form>
        </div>
    </div>
</div>