<body data-decimal-separator="," data-grouping-separator=".">

<div role="navigation" aria-label="jumplinks">
  <a href="#deviceheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
  <a routerLink="/overview"><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo"></a>

  <h1 class="header-title" id="bannerheadline">
    BIG Smart Home
  </h1>
  <nav aria-labelledby="navigationheadline">
    <h2 class="accessibility" id="navigationheadline">Navigation</h2>
    <ul class="navigation-list">
      <li class="nav-items">
        <ul>
          <li>
            <a routerLink="/options" class="button" accesskey="2">Optionen</a>
          </li>
          <li>
            <a routerLink="/login" class="button" accesskey="1">Abmelden</a>
          </li>
        </ul>
      </li>
      <li class="overflow-icon">
        <a href="#" class="button" accesskey="1">☰</a>
      </li>
    </ul>
  </nav>
</header>
<div class="main-container">

  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <status-component></status-component>
  </aside>
  <main aria-labelledby="deviceheadline" class="details-container">
    <div *ngIf="device" attr.data-device-id="{{device.id}}" class="details-headline">
      <h2  class="main-headline" id="deviceheadline">{{ device.display_name}}</h2>
    </div>
    <div class="details-holder">
      <control-boolean  *ngFor="let unit of controls_boolean" [controlunit]="unit" ></control-boolean>
      <control-continuous *ngFor="let unit of controls_continuous" [controlunit]="unit"></control-continuous>
      <control-enum *ngFor="let unit of controls_enum" [controlunit]="unit"></control-enum>
    </div>

  </main>
</div>
<footer-component>
</footer-component>
</body>
