<div class="device-outer" [attr.data-device-id]="device.id">
  <a [routerLink]="['/details', device.id]" class="device"
      title="{{ device.description }}">
    <dl class="device-properties">
      <dt>Anzeigename</dt>
        <dd class="device-displayname">{{device.display_name}}</dd>
      <dt>Gerätetyp</dt>
        <dd class="device-type">{{device.type}}</dd>
      <dt>Gerätename</dt>
        <dd class="device-name">{{device.type_name}}</dd>
      </dl>
      <div class="device-image-container">
        <img class="device-image" width="180" height="180" src="../../{{ device.image }}"
             alt="{{ device.image_alt }}">
      </div>
  </a>
  <ul class="device-actions">
    <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
    <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
  </ul>
</div>

