
  <a (click)="clickedElement()" class="device"
      title="{{ device.description }}">
    <dl class="device-properties">
      <dt>Anzeigename</dt>
      <dd *ngIf="!isEditable" class="device-displayname">{{device.display_name}}</dd>
      <dd *ngIf="isEditable" class="device-displayname"><input #box (keyup)="editItem(box.value)" (keyup.enter)="editItem(box.value); toggleEdit(true)" value="{{device.display_name}}"></dd>
      <dt>Gerätetyp</dt>
        <dd class="device-type">{{device.type}}</dd>
      <dt>Gerätename</dt>
        <dd class="device-name">{{device.type_name}}</dd>
      </dl>
      <div class="device-image-container">
        <!--<img id="{{device.id}}" class="device-image" width="180" height="180" src="../../{{ device.image }}" alt="{{ device.image_alt }}">-->
        <div id="{{device.id}}" class="device-image"></div>
      </div>
  </a>
  <ul class="device-actions">
    <li *ngIf="isEditable"><a (click)="toggleEdit(true)"><img class="device-edit" src="../../images/ok.png" alt="save device"></a></li>
    <li *ngIf="!isEditable"><a (click)="toggleEdit(false)"><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
    <li><a (click)="removeItem()"><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
  </ul>
