<body data-decimal-separator="," data-grouping-separator=".">

<div role="navigation" aria-label="jumplinks">
  <a href="#devicesheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
  <a [routerLink]="['/overview']"><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo"></a>

  <h1 class="header-title" id="bannerheadline">
    BIG Smart Home
  </h1>
  <nav aria-labelledby="navigationheadline">
    <h2 class="accessibility" id="navigationheadline">Navigation</h2>
    <ul class="navigation-list">
      <li class="nav-items">
        <ul>
          <li>
            <a routerLink="/options" class="button" accesskey="2">Optionen</a>
          </li>
          <li>
            <a routerLink="/login" class="button" accesskey="1">Abmelden</a>
          </li>
        </ul>
      </li>
      <li class="overflow-icon">
        <a href="#" class="button" accesskey="1">☰</a>
      </li>
    </ul>
  </nav>
</header>
<div class="main-container">
  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <div class="server-info-container">
      <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
      <dl class="server-data properties">
        <dt class="accessibility">Serverstatus:</dt>
        <dd class="server-status">Serverstatus:</dd>
        <dt>Benutzer</dt>
        <dd>
          <span class="system-start-time">Administrator</span>
        </dd>
        <dt>Systemstartzeit</dt>
        <dd>
          <span class="system-start-time">10:00</span>
        </dd>
        <dt>Systemstartdatum</dt>
        <dd>
          <span class="system-start-datum">06.03.2017</span>
        </dd>
        <dt>Fehlgeschlagene Logins</dt>
        <dd>
          <span class="failed-logins">3</span>
        </dd>
      </dl>
    </div>
  </aside>
  <main aria-labelledby="devicesheadline">
    <h2 class="main-headline" id="devicesheadline">Geräte</h2>
    <div class="devices">

      <device-component *ngFor="let device of devices" [device]="device" (deviceRemoved)="handleDeviceRemoved($event)"></device-component>

    </div>
  </main>
</div>
<footer>
  © 2017 BIG Smart Home
</footer>
